<ion-header>
  <ion-toolbar>
    <ion-title>Write Message</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" fill="clear">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="write-message-modal">
  <form class="composer" [formRoot]="messageForm" (submit)="sendMessage()">
    <ion-item>
      <ion-label position="stacked">New Message</ion-label>
      <ion-textarea
        [formField]="messageForm"
        maxlength="500"
        autoGrow="true"
        placeholder="Write something useful"
      />
    </ion-item>
    @if (messageForm().touched() && messageForm().getError('required')) {
      <ion-text color="danger">A message is required.</ion-text>
    }
    <ion-button type="submit" expand="block">Send</ion-button>
  </form>
</ion-content>
